@import "variables.css";

#login-form {
  background-color: var(--base_color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#index_body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--base_color);
  color: blueviolet;
  opacity: 0.5;
}

.index_mark {
  font-size: 100px;
}

#login-form input,
a {
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
  margin: 10px 0px;
}

#login-form input {
  width: 50vw;
  height: 30px;
  border-radius: 20px;
  padding-left: 15px;
}

#login-form input[type="submit"] {
  cursor: pointer;
  font-size: 20px;
}

#index_title {
  font-size: 40px;
  margin: 30px;
}
