@import "../variables.css";

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: var(--base_color);
}

.footer_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}

.footer button {
  border: none;
  outline: none;
  color: inherit;
  background-color: var(--base_color);
  cursor: pointer;
  font-size: 30px;
}

.footer_buttons i {
  opacity: 0.5;
}

.footer_on {
  color: red;
}

@keyframes iconAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: none;
  }
}

.footer_buttons i:hover {
  animation: iconAnimation 1.5s linear infinite;
}
